/*
Colors used:

Primary Color (DarkBrown): #270810;
Primary Color (DarkOrange): #482608;
Primary  Color (Dark Green): #181E19;

Secondary Color (Turquoise): #49666D;
Secondary Color (Green): #7C9885;
Secondary Color (LimeGreen): #B5B682;
Secondary Color (Coral): #604D53;
Secondary Color (White): #FFFFFF;
Logo Color (Light Brown): 604D53;
*/

html {
  scroll-behavior: smooth;
}

header {
  background-color: #270810;
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  display: block;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  padding: 0px ;
  z-index: 1;
}


body {
  background-color: #ffffff;
  font-family: 'IBM+lex+Sans+Thai+Looped', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #270810;
  display: block;
  position: inherit;
  padding-top: 0px;
  z-index: -1;

}

.wrapper {
    width:100%;
    position:fixed;
    z-index:10;
    background:inherit;
}

.bottom-wrapper {
    width:100%;
    padding-top:100px;
    z-index:5;
    overflow:relative;
}

p {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 0px;
  text-align:center;
  margin:auto;
}


.aboutme h2 {
  text-align: center;
}
.abouttitle {
  text-align: center;
  padding: px 10;
  display: inline-block;
  width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;

  margin-bottom: 10px;
  width: 100%;
  display: block;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin:auto;
  text-align:center;
  border-radius: 0px;
  background-color: #transparent

}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  background-color: #ffffff;
  margin-bottom: 10px;
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 0px;
  margin-top: 0px;
  text-align:center;

}

h3 {
  font-size: 1.75em;
  font-weight: 400;
  border-bottom: 0px solid #270810;
  background-color: #ffffff;
  margin-bottom: 10px;
  position:
  width: 100%;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 0px;
  margin-top: 0px;
  text-align:center;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 0px;
  margin-top: 0px;
  text-align:center;
}

img {
  width: 100%;

}

ul.nbullets {
  list-style-type:circle; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

a {
  color: #270810;
  text-decoration:none;; /* No underlining */
}
a:hover {
  color: #270810;
  text-decoration:none;; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #ffffff;
}
a:active { /* selected link */
  color: #604D53;
}

a:hover,
a:focus {
  color: #604D53;
  text-decoration: none;
}

.a-1 {
  list-style-type: circle;; /* bullet points for tools */
}

textarea {
  display: block;
}

.bullets li {
 list-style-type: circle;
}

.button {
  display:flex;; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #604D53;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  border-bottom: 0px solid #transparent; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  opacity: .5; /* 70% opacity% */
}

.button.roota {
  display:flex;
  background-color: #604D53;
  color: #ffffff;
  text-transform: uppercase;
  border: 0px solid #604D53;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button.roota:hover {
  opacity: .5; /* 100% opacity% */
}

.button.contact {
  display:flex;
  background-color: #604D53;
  color: #ffffff;
  text-transform: uppercase;
  border: 0px solid #604D53;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-property: opacity;
  margin-left: auto;
  margin-right: auto;
}

.button.contact:hover {
  opacity: .5; /* 100% opacity% */
}



.button.resume {
  display:flex;
  background-color: #604D53;
  color: #ffffff;
  text-transform: uppercase;
  border: 0px solid #transparent;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: review;
  margin-left: auto;
  margin-right: auto;
}

.button.resume:hover {
  opacity: .5; /* 100% opacity% */
}

.col-in-roota {
  width: 58.33%;
  text-align: unset;
}

#contact {
  text-align: center;
  justify-content: center;
}


#hero-work {
  background-color: #270810;
  padding: 20px 0;
  display: block;
  width: auto;
  text-align: center;
}

#hero-about {
  background-color: #270810;
  padding: 20px 0;
  display: block;
  width: auto;
  text-align: left;
}

#hero-contact {
  background-color: #270810;
  padding: 40px 0;
  display: block;
  width: auto;
  text-align: center;
}

#social {
  display: flex;
  list-style-type: none;
  width: 50px;
  justify-content: left;
  margin: 0 auto;
}

#meetdiana {
  text-align: left;
  margin: 0px;
}


#resume {
  text-align: left;
  display: flex;
  justify-content: left;
}


#tools {
  text-align: left;
  margin: 0px;
}

#skills {
  text-align: left;
  margin: 0px;
}

#programs {
  text-align: left;
  margin: 0px;
}

#copyright {
  font-size: 16px;
  text-align: left;
}

#work.row {
  padding-bottom: 25px;
  border-bottom: 1px solid #270810;
}

#intro {
  padding-bottom: 10px;
  text-transform: capitalize;
}

#hero h1 {
  margin: 0;
  padding: 0.60em 0;
}

selector {
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
}

selector {
  position: relative;
}

selector {
  float: right;
}

.container {
  padding: 15px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-md-4 {
  width: 33.33%;
}
.col-md-6 {
  width: 40%;



}
.col-md-6.image {
  text-align: right;
}
.col-md-6 img {
  max-width: 470px;
}
.col-md-6 svg {
  max-width: 470px;
}

.logo {
  max-width: 75px;

}

.socialmedialogo {
  max-width: 50px;
  padding: 10px;
  transition-duration: 0.2s;
  transition-property: opacity;
}


.projectpicture {
  width: 50%;
}

.socialmedialogo:hover {
  opacity: .5; /* 50% opacity% */
}

.footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.image-cropper {
    max-width:400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #270810;
}

.image-cropper img{
    display: block;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #270810;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

hr {
height:1px;
background-color: #604D53;
display:flex;
width:1200px;
}

.image-cropper2 {
    max-width:400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #270810;
    text-align: center;
}

.image-cropper2 img{
    display: block;
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #270810;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    text-align:

}

#hero h1 {
  text-align: center; /* Centers text */
}

.center {
  text-align: center;
}



nav {
  display: inline-block;
  width: 100%;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle,
.navtoggle.responsive {
  position: relative;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(134, 134, 134, 0.192);
}
.navtoggle.responsive li:last-child {
  padding: 10px;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 20px;
  padding-right: 0;
}
nav > ul {
  list-style-type:circle;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 500;
  color: #604D53;
}
nav > ul > li > a:active {
  color: #604D53;
}
nav {
  display: inline-block;
  width: 100%;
}


nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
nav > ul {
  margin: 1em 0;
}
nav > ul > li {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
  list-style-type:circle;
}


#hero {
  background-color: #604D53;

}

#hero-roota {
  background-color: #49666D;

}

#hero-roota {
  background-color: #49666D;

}

#hero-ccp {
  background-color: #142351;

}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
}

#hero {
  background-color: #604D53;
  padding: 20px 0;
}

#hero {
  background-color: #604D53;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 133px;
}


}
.centerme {
  text-align: center;
}





img {
  width:relative;
  height:relative;

}

.projectimg {
  width: 50%;
  height: auto;
  margin: auto;
  object-fit:fill;
}

.projectbox {
  height: 500px;
  width: auto;
  padding: 30px;
  border: 2px solid #604D53;
  object-position: center;

}


.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.none {
  object-fit: none;
}

.scale-down {
  object-fit: scale-down;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  nav > ul {
    margin: 1em 0;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 91px;
  }
  .profilepicture {
    width: 30%;
  }
  #hero span {
    display: block;
  }
  [class*="col-"] {
    float: left;
    padding-left: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-md-1 {
    width: 100%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-6 {
    width: 49%;

  }
  .col-md-6.image {
    text-align: right;
  }
  .col-md-6 img {
    max-width: 470px;
  }
  .col-md-6 svg {
    max-width: 470px;
  }
  .userflow {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .solution1 {
    float: right;
  }
  .solution2 {
    float: left;
  }



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 49%;

  }
  .col-lg-2 {
    width: 15%;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  [class*="col-"] {
    float: left;
    padding-left: 10px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Music Illustration Animation Example
================================= */
.musicillustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes stars-grow {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.1, 1.1);
  }
}
.stars {
  animation: 1s stars-grow infinite alternate linear;
}
@keyframes notes-rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}
.music-notes {
  animation: 1s notes-rotate infinite alternate linear;
}
